// h1,h2,h3,h4,h5,h6,.title,.subtitle{
//   font-family: 'Raleway', $family-sans-serif;
//   color: #000000;
// }
$azul-acij : #3157AC;
h1{
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 50px;
}
h2 {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 40px;
}
h3 {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 35px;
}
h4 {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 30px;
}
h5 {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 22px;
}
h6 {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 20px;
}
.h1-imp{
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 50px !important;
}
.h2-imp {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 40px !important;
}
.h3-imp {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 35px !important;
}
.h4-imp {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
  font-size: 30px !important;
}
.h5-imp {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 22px !important;
}
.h6-imp {
  font-family: 'Raleway', $family-sans-serif;
  color: #000000;
  font-size: 20px !important;
}
.es-oswald{
  font-family: 'Oswald' !important;
  font-weight: 700 !important;
}
.es-chivo{
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.sub-chivo{
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: #000000;
}
.es-raleway{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600 ;
  line-height: 30px;
  /* or 167% */

  text-align: center;

  color: #000000;
}

// fs= font size para forzar algunos font-size por el manual de marca
.fs-40{
  font-size: 40px !important;
}
.fs-30{
  font-size: 30px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-20 {
  font-size: 24px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-12 {
  font-size: 12px !important;
}

//==========================

@mixin font-weight($weight) {
  font-weight: $weight !important;
}

//==========================

@for $i from 1 through 9 {
  .is-#{100 * $i} {
    @include font-weight(100 * $i)
  }
}

.image.is-centered{
  margin: 0 auto;
}

.has-shadow {
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4);
}

.has-text-shadow{
   text-shadow: 0px 2px 2px #0e0e0e;
}

.is-raleway{
  font-family: 'Raleway', $family-sans-serif
}

.is-chivo{
  font-family: 'Chivo', $family-sans-serif;
}

.button{
  border-radius: 0;
  padding: 10px 25px;
}

html{
  // scroll-behavior: smooth;
  background-color: #fff;
}

// =========================

// .carousel .carousel-indicator .indicator-item .indicator-style.is-dots{
//   height: 15px;
//   width: 15px;
// }
// .carousel .carousel-indicator{
//   padding-top: 0.9rem;
// }

.carousel .carousel-indicator .indicator-item .indicator-style {
  border-color: transparent;
}

.slick-prev.custom-arrow-left::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f060";
  color: $primary;
}
.slick-next.custom-arrow-right::before{
  font-size: 30px;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f061";
  color: $primary;
}
.slick-prev{
  left: -32px !important;
}

.carousel-arrow .icon.has-icons-left{
  left: 0.5em;
}
.carousel-arrow .icon.has-icons-right {
  right: 0.5rem;
}

.carousel-arrow .icon{
  background: transparent;
  border: none;
  &:hover{
    border: none;
  }
}

.tag.is-special{
  background-color: #EDF2FE;
  color: #467CF6;
  border-radius: 0;
  // height: 28px;
  // font-size: 13px;
  height: auto;
  font-size: 12px;
  padding: 5px 0.70rem;
  white-space: normal;
}

.line-height-150{
  line-height: 1.5em;
}