@import 'variables.scss';// Import buefy and bulma styles
@import "~bulma";
@import "~buefy/src/scss/buefy";// Import your other app styles
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import "app";
.nada{
    color: #CD3D27;
    color: #6C9EFF;
    color: #1DD1A1;
    color: #E59D3F;
}
